.popup input[type=text] {
    width: 50%;
    padding: 12px;
    box-sizing: border-box;
    background-color: rgb(40,40,40);
    border: 2px solid lightskyblue;
    outline: none;
    color: white;
    margin-right: 10px;
}

.popup input[type=text]:hover {
    border: 3px solid lightskyblue;
}

.popup input[type=submit] {
    padding: 14px;
    background-color: rgba(74, 0, 128, 0.6);
    color: lightgreen;
    border-radius:10px;
    font-size: 12px;;
}

.popup input[type=submit]:hover {
    cursor: pointer;
    background-color: rgb(74, 0, 128);
}

.outer {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0,0.8);
}

.popup {
    padding: 14px 10px;
    margin: auto;
    background-color: rgb(33, 1,1);
    border-radius: 2px;
    font-size: 1.5vw;
    width: 40%;
    height: 40%;
    box-sizing: border-box;
    margin-top: 250px;
}

.popup h1 {
    padding: 0;
    margin: 2px;
    color: red;
}